*{
    border:0;
    padding: 0;
    margin: 0;
}
#canvas{
   margin: 10px;
    border:3px solid black ;
}
.div{font-size: 20px;
    text-align: center;
 }
 .button{
    font-size: 1cm;
 }
 body{
     background-color: gray;
 }